#header {
    width: auto;
    height: 100px;
    background-color: #2ca9e1;
}

#pre {
    size: A4;
}

#a_contents {
    white-space: pre-wrap;
}

textarea {
    vertical-align: top;
}

#print_button {
    width: 48px;
}

#footer {
    width: auto;
    height: 80px;
    background-color: #2ca9e1;
}

#footer-list {
    list-style: none;
}

a {
    color: black;
}

@media print {
    #header {
        height: 0;
    }
    .container {
        padding: 0;
    }
    #content {
        margin-top: 0 !important;
    }
    .title {
        display: none;
    }
    #pre {
        border: none !important;
    }
    #title_a {
        display: none;
    }

    #alert {
        display: none;
    }

    #display_none {
        display: none;
    }

    li {
        display: none;
    }
    #footer {
        height: 0;
    }
}

@page {
    size: A4 portrait;
    margin: 0;
}
